      *{
            padding: 0;
            margin: 0;
        }
        /*start navigation*/
        .navbar{
            background-color: #EDF8EB;
            
        }
        .navbar ul{
            overflow: auto;
        }
        .navbar li{
            float:right;
            list-style: none; 
            margin: 30px 45px;
            
        }
        .navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: black;
        }
        .navbar li a:hover{
            color:green;
        }
     /*   .icon{
            float: left;
            color: black;
            padding: 20px 75px;
            font-size: 120%;
        }*/

        /*end navigation*/

/*dropdown start*/

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: green;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EDF8EB;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*dropdown end*/


/* start service */
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 10px 100px;
  cursor: pointer;
}
.button5 {border-radius: 50%;}

/* end service */
/*
start footer*/
footer{
    background-color: #EDF8EB; 
}
footer  div{
    background-color: #EDF8EB;
    padding: 5%;
   text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    display: inline-block;
  font-size: 100%;
  margin: 10px 85px;
  cursor: pointer;
}
footer div li{
    list-style: none;
}
footer div li a{
    padding: 3px 3px;
    text-decoration: none;
    color: black;
}
/*end footer*/

/*start login*/
#loginimage{
    float: left;
    }
#loginimage img{
  position: absolute;
  height: 1330px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  border-radius: 40%;
  z-index: 6;
}
#loginform{
    float: left;
    padding-left:60%;
    padding-top: 3%;
}
.logininp{
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 40px;
  border-radius: 55px;
  display: grid;
  
  padding: 0 0.4rem;
  position: relative;
}
.loginbtn{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 10px 100px;
  cursor: pointer;
  border-radius: 45%;
}
.backbtn{
     background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 3%;
  text-align: right;
  text-decoration: none;
  
  font-size: 100%;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 43%;
}
/* end login*/
/*
start signup*/
#signimage img{
  position: absolute;
  height: 1330px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  border-radius: 40%;
  z-index: 6;
}

#signform{
    float: left;
    padding-left:60%;
    padding-top: 0.5%;
}

.signupinp{
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 0.5px 0;
  height: 30px;
  border-radius: 55px;
  display: grid;
  padding: 0 0.4rem;
  position: relative;
}
.signupbtn{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 10px 100px;
  cursor: pointer;
  border-radius: 45%;
}
/*end signup*/


/*crops*/
        /*div ads*/
     #content td{
        padding: 0px;
        margin: 0px;
        background-color: #EDF8EB;
     }
     /*#heading td{
        padding: 10px 70px 0px 140px;
        margin: 0;
        background-color: #EDF8EB;
     }*/
     figure img{
        float: left;
        height: 50px;
        width: 50px;
     }
     figcaption p{
        align-content: right;
     }
     .cropbox{
        background-color: #EDF8EB;
     }
     .cropbox td{
        width: 150px ;
        padding: 10px 70px 0px 140px;
        margin: 0;
     }
  

.container {
    margin: 20px;
    /*box-shadow: 0px 0px 10px;*/
    text-align: left;
    padding: 20px;
    width: 200px;
    height: 200px;
    background: #EDF8EB;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
   /* margin: 4px 0px;*/ 
    
    border-radius: 20%;
}
.container h1{
  justify-content: center;
  text-align: center;
}
.search{
    text-align: center;
    color: black;
}

.search input{
  max-width: 300px;
  width: 100%;
  background-color: #f0f0f0;
  height: 40px;
  border-radius: 55px;
  margin: 10px;
  text-align: center;
  
}
#details{
  background-color: #04AA6D/*#04AA6D*/; /* Green */
  border: none;
  color: black;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 15px 100px;
  cursor: pointer;
  border-radius: 40%;
  max-width: 300px;
  width: 100%;
}

/*end crops*/
